@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MarioHabo.Models
@using Microsoft.AspNetCore;
@using Microsoft.AspNetCore.Mvc;
@model WideInfoPane

<div class="wideinfopanecontainer d-block">
    <h5 class="h5wideinfopane">@Model.Header</h5>
    <div class="wideinfopanetextcontainer d-inline-flex flex-column">
        <div class="wideinfopanetext d-flex flex-column">
            @{
                int it = 6;
                int outerit = 0;
                int contit = 0;
                @foreach (var item in Model.Info)
                {
                    string cont = "widetextcontainercontainer" + contit.ToString();

                    <div class="d-flex flex-grow-1 justify-content-between" id="@cont" data-article-container-number = @contit>
                        <div class="widepanetextcontainer d-flex flex-column align-contnent-center">
                            @{
                                int innerit = 0;
                                @foreach (var item2 in item.SubHeader)
                                {
                                    string artname = "articlecontainer" + outerit.ToString();
                                    <div class="d-flex flex-column justify-content-between" id = "@artname" data-article-number=@outerit>
                                        @if (item.SubHeader != null)
                                        {
                                            <h h-number="@it" class="pb-2 pe-5 me-5 wideinfosubheaders">@item2</h>
                                        }
                                        <p class="pb-5 ps-3">@item.Text[innerit]</p>
                                        <a href="#" class="my-5">klicka här för att få reda på mer</a>
                                    </div>
                                    <hr />
                                    it++;
                                    innerit++;
                                    outerit++;
                                }
                            }
                        </div>
                        <div class="d-flex flex-column justify-conent-between">
                            <div class="widepaneimgcont">
                                <img alt="..." src="@item.ImgPath[0]" class="image-fluid"/>
                            </div>
                            <div class="widepaneimgcont">
                                <img alt="..." src="@item.ImgPath[1]" class="image-fluid"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    contit++;
                }
            }
        </div>
    </div>
</div>