@model MarioHabo.Models.ArticleModelEnumerated

@if (Model.RightBound)
{
    <div class="d-lg-flex d-md-grid justify-self-center ps-xxl-5 ms-xxl-5 mt-xxl-5 me-xxl-5 pe-xxl-5">
        <div class="w-25"></div>
        <div class="col wrappedpicarticle pt-3 border border-bottom border-left border-2 rounded shadow p-3 mb-5 bg-body rounded">
            <div class="row row-cols-2"></div>
                <div class="flex-container">
                    <img src="@Model.ImgPath" alt="Placeholder Image" loading="eager" class="float-end w-50 pb-2 ps-2 ms-2 articleimage">
                    <div class="flex-column">
                    <h3 class="text-start">@Model.Article[0]</h3>
                    <h5>@Model.Article[1]</h5>
                    <p >@Model.Article[2]</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
}
else
{
    <div class="d-lg-flex d-md-grid justify-self-center ms-xxl-5 ps-xxl-5 mt-xxl-5">
        <div class="col d-flex">
            <div class="col wrappedpicarticle ps-3 pt-3 border border-bottom border-left border-2 shadow p-3 mb-5 bg-body rounded">
                <div class=" = row row-cols-2"></div>
                    <img src="@Model.ImgPath" loading="eager" class="float-start w-50 pb-2 pe-2 me-2 articleimage">
                    <div class="flex-column">
                    <h3 class="text-start">@Model.Article[0]</h3>
                    <h5 class="text-start">@Model.Article[1]</h5>
                    <p class="p-0 m-0">@Model.Article[2]</p>
                    </div>
                </div>
        </div>
            <div class="w-25 d-md-flex d-lg-inline-block"></div>
    </div>
    <br/>
}










































